{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@gmail.com> #}
<li><a href="{{ path('f_devs_article_category', {"category": param, "page":i*limit,'user':user}) }}">{{ i }}</a></li>