<form {{ form_enctype(form) }} method="POST" action="{{ path('f_devs_article_search_results') }}">
    <div class="input-append">
        {{ form_widget(form.search_phrase) }}
        <button class="btn" type="submit">Найти</button>
    </div>
    {{ form_rest(form) }}
</form>
