# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

.idea

# frontend excludes
frontend/node_modules/*
frontend/dev/bootstrap/node_modules/*