# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/assetic/*

app/dump/*
!app/dump/.gitkeep

./composer.phar
app/dump/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# frontend excludes
frontend/node_modules/*
frontend/dev/bootstrap/node_modules/*
web/ef-assets
