{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@@gmail.com> #}
<footer id="main-footer">
    <div class="container">
        <p><a href="{{ path('f_devs_article_homepage') }}">4devs.io</a> &copy; 2013 - {{ 'now' | date('Y') }} <span class="pull-right">Created by <a href="http://4devs.org">4devs</a></span></p>
    </div>
</footer>
