{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@@gmail.com> #}
<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header id="main-header">
    <div class="container">
        <p id="main-logo" class="text-center"><a href="{{ path('f_devs_article_homepage') }}">4devs</a></p>
        <nav class="navbar">
            <div class="navbar-inner">
                <div class="container">

                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Everything you want hidden at 940px or less, place within here -->
                    <div class="nav-collapse collapse">
                        {{ knp_menu_render('FDevsCommonBundle:Builder:mainMenu', { 'currentClass': 'active'}) }}
                        {% if app.user %}
                            <div class="btn-group pull-right profile-btn">
                                <button class="btn"><i class="icon-user"></i> {{ app.user.username }}</button>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                {{ knp_menu_render('FDevsCommonBundle:Builder:sideBar', { currentItem: 'active' }) }}
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </nav>
    </div>
</header>