{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@@gmail.com> #}
<aside class="span4" id="main-sidebar">
        {% render controller("FDevsArticleBundle:Default:getAllCategories") %}
        {% render controller("FDevsArticleBundle:Default:getAllTags") %}
        {% render controller("FDevsArticleBundle:Default:getLastLimitArticle") %}
</aside>
</div>
</div>
<div id="push"></div>