{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@@gmail.com> #}
<div class="right-block js-right-block">
    <h1>RIGHT BLOCK</h1>
</div>