{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@@gmail.com> #}
<aside class="span4" id="main-sidebar">
    {% if app.request.attributes.get('_route') != 'f_devs_article_search_results' %}
        <div class="sidebar-block">
            <h4>Поиск:</h4>

            <div class="content">
                {{ render(controller('FDevsArticleBundle:Search:index')) }}
            </div>
        </div>
    {% endif %}
    {% render controller("FDevsArticleBundle:Default:getUniqueCategoriesTags",{'user':app.request.get('user')}) %}
    {% render controller("FDevsArticleBundle:Default:getLastLimitArticle",{'user':app.request.get('user')}) %}
</aside>
</div>
</div>
<div id="push"></div>
