parameters:
    mailer_transport:  smtp
    node:              '/bin/node'
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            testSecret123jd
    domain:            blog.local

    knp_disqus.api_key:       ThisTokenIsNotSoSecretChangeIt
    knp_disqus.comments.shortname: ThisTokenIsNotSoSecretChangeIt

    mongodb.default_database:   blog
    mongodb.default_server:     mongodb://localhost:27017
    memcached_server_host: localhost
    memcached_server_port: 11211
    elastic_host : localhost
    elastic_port : 9200
