{% extends '::base.html.twig' %}
{% block content %}
    <h2>Author page</h2>
    {{ user.firstName ~ ' ' ~ user.lastName ~ ' aka ' ~ user.username }}<br/>
    Email: {{ user.email }}
    <br/>
    {% for socialName, socialValue in user.social %}
        {{ socialName ~ ':' ~ socialValue }}<br/>
    {% endfor %}
{% endblock %}
