{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@@gmail.com> #}
{% extends '::base.html.twig' %}
{% block content %}
    <div id="main-content" class="container">
    <div class="row-fluid">
    <section class="span8 clearfix">
        {% set menuParams = {} %}
        {% if category is defined %}
            {% set menuParams = {'category':category} %}
        {% endif %}
        {% set menuItem = knp_menu_get('FDevsArticleBundle:BreadCrumbs:base', [], menuParams) %}
        {{ knp_menu_render(menuItem,{'currentAsLink': false}) }}
        {% for article in pagination %}
            {% include 'FDevsArticleBundle:Default:articleBlock.html.twig' with { article: article } %}
        {% endfor %}
        {{ knp_pagination_render(pagination) }}
    </section>
{% endblock %}
