{% for article in articles %}
    <div>
        {{ article.content }}
        <a href="{{ path('f_devs_article_article',{"slug":article.id}) }}">{{ article.title }}</a>
    </div>
{% else %}
    <h1>Article Not found</h1>
{% endfor %}
