{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@gmail.com> #}
<div class="pagination pagination-centered">
    <ul>
        {% if page != 0 %}
            <li><a href="{{ prev }}">Prev</a></li>
        {% endif %}
        {% for i in 1..countArticleFloor %}
            {% include 'FDevsArticleBundle:Pagination:'~ item ~'.html.twig' with{'param': param, 'i': i, 'limit': limit} %}
        {% endfor %}
        {% if page < countArticleFloor * limit %}
            <li><a href="{{ next }}">Next</a></li>
        {% endif %}
    </ul>
</div>