{% extends '::base.html.twig' %}
{% block content %}
<div id="main-content" class="container">
    <div class="row-fluid">
        <section id="about-us" class="span8 clearfix">
            {# TODO: replace with storage model and static pages #}
            {{ 'page.about_us.greeting' | trans({}, 'FDevsCommonBundle') }}
        </section>
{% endblock %}