{% extends '::base.html.twig' %}
{% block content %}
<div id="main-content" class="container">
    <div class="row-fluid">
        <section id="about-us" class="span8 clearfix">
            Мы - друзья и единомышленники, любящие программирование, новые технологии и готовые поделиться своим опытом.
            Вместе мы достигнем больших высот.
        </section>
{% endblock %}
